/* base styles, feel free to edit */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial;
}

/* page hide */
.hide {
  display: none;
}

.popup {
  position: relative;
  /* right: center; */
  background: #ff4d4f;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  /* display: flex;
  align-items: center; */
  gap: 10px;
}

.popup.hide {
  display: none;
}

.popup button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* footer */
footer {
  background: #333;
  color: #f9f9f9;
  text-align: center;
  padding: 1rem;
}
