/* base styles, feel free to edit */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial;
}

/* page hide */
#homePage.hide,
#profilePage.hide,
#loginPage.hide,
#registerPage.hide {
  display: none;
}

#notification-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  z-index: 99999;
}

.popup {
  position: relative;
  /* right: center; */
  background: #ff4d4f;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* display: flex;
  align-items: center; */
  gap: 10px;
}

.popup.hide {
  display: none;
}

.popup button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-wrapper .tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 6px 8px;
  border-radius: 4px;

  position: absolute;
  z-index: 100;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.fake-hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #ddd;
  border-top: 5px solid #4A90E2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 12px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#loading {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 3000;
}

.hidden {
    /*
    Use !important here because the #loading element
    is initially styled with "display: flex", which has
    higher specificity and may override basic class styles.

    In order to ensure that .hidden reliably hides the
    loading overlay regardless of previous styles,
    i must override "display: flex" with "display: none !important".

    Use of !important is avoided elsewhere unless necessary.
  */
  display: none !important;
}

